<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maces.ecommerce.skcashandcarry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:hardwareAccelerated="false"
        android:roundIcon="@drawable/app_icon"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden"
        tools:targetApi="m">
        <activity
            android:name="com.maces.ecommerce.skcashandcarry.View.order_product_detail"
            android:theme="@style/Product"></activity>
        <activity
            android:name="com.maces.ecommerce.skcashandcarry.View.Category_Product"
            android:theme="@style/Product" />
        <activity android:name="com.maces.ecommerce.skcashandcarry.View.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.maces.ecommerce.skcashandcarry.View.ForgotPassword"
            android:theme="@style/Product" />
        <activity android:name="com.maces.ecommerce.skcashandcarry.View.order_placed" />
        <activity
            android:name="com.maces.ecommerce.skcashandcarry.View.Product_Detail"
            android:theme="@style/Product" />
        <activity android:name="com.maces.ecommerce.skcashandcarry.View.Payment_Screen" />
        <activity
            android:name="com.maces.ecommerce.skcashandcarry.View.Register"
            android:theme="@style/Product" />
        <activity
            android:name="com.maces.ecommerce.skcashandcarry.View.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.maces.ecommerce.skcashandcarry.View.Login" />
        <activity android:name="com.maces.ecommerce.skcashandcarry.MainActivity" />
        <activity
            android:name="com.maces.ecommerce.skcashandcarry.View.CartActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>